
[#if SET_DATASOURCE!="1"#]
<!-- / source select -->
[#endif SET_DATASOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="megaddevices" || DATA_SOURCE=""#]
 <!-- table megaddevices search -->
 [#if VIEW_MODE="search_megaddevices" || VIEW_MODE=""#]
  [#inc megaddevices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table megaddevices search -->
 <!-- table megaddevices edit -->
 [#if VIEW_MODE="edit_megaddevices"#]
   [#if ID!=""#]

<script type="application/javascript">
    function switchMegaDDevice(device_id, port, port_value, result_id) {
        var url='<#ROOTHTML#>ajax/megad.html?device='+device_id+'&command='+encodeURIComponent(port+':'+port_value);
        $('#'+result_id).html('...');
        $.ajax({
            url: url
        }).done(function(data) {
            $('#'+result_id).html(data);
        });
        return false;
    }
</script>


<p><a href="?">&lt;&lt;&lt; <#LANG_BACK#></a></p>
   [#if TITLE!=""#]<h4>[#TITLE#][#if COMMENT!=""#] - [#COMMENT#][#endif#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data"><#LANG_DATA#></a>
  </li>
  <li[#if TAB="config"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=config">Advanced</a>
  </li>
  <li[#if TAB="config2"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=config2">Device config</a>
  </li>


</ul>
&nbsp;
   [#endif ID#]
   [#if TAB=""#]
    [#inc megaddevices_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
[#if PROPERTY_ID=""#]
    [#inc megaddevices_edit_data.html#]
[#else PROPERTY_ID#]
[#inc megaddevices_edit_property.html#]
[#endif PROPERTY_ID#]
   [#endif TAB#]
   [#if TAB="config"#]
    [#inc megaddevices_edit_config.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]


   [#endif TAB#]
   [#if TAB="config2"#]
    [#inc megaddevicesconfig.html#]
   [#endif TAB#]


 <!-- / table megaddevices edit -->
 <!-- table megaddevices view --> 
 [#if VIEW_MODE="view_megaddevices"#]
   [#if TAB=""#]
    [#inc megaddevices_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table megaddevices view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="megadproperties"#]
 <!-- table megadproperties search -->
 [#if VIEW_MODE="search_megadproperties" || VIEW_MODE=""#]
  [#inc megadproperties_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table megadproperties search -->
 <!-- table megadproperties edit -->
 [#if VIEW_MODE="edit_megadproperties"#]
   [#inc megadproperties_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table megadproperties edit -->
 <!-- table megadproperties view --> 
 [#if VIEW_MODE="view_megadproperties"#]
   [#inc megadproperties_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table megadproperties view -->
 [#endif DATA_SOURCE#]
