
<div class="row">


<div class="col-md-6">
<!-- Table 'megaddevices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
    [#if OK#]
    <div class="alert alert-success">Data has been saved</div>
    [#endif OK#]
    [#if ERR#]
    <div class="alert alert-error">Please fill out all required fields</div>
    [#endif ERR#]
    <fieldset>
        [#if ID=""#]
        <legend><#LANG_NEW_RECORD#></legend>
        [#endif ID#]

        <div class="form-group">
            <label class="col-lg-3 control-label"[#if ERR_PORT#] style="color:red;font-weight:bold"[#endif#]>
                <#LANG_PORT#>[#if I2C="1"#] SDA[#endif#]:
                    (*)
            </label>
            <div class="col-lg-4">
                [#if PROPERTY_COMMAND_INDEX!="0" && PROPERTY_COMMAND_INDEX!=""#]
                [#PROPERTY_NUM#].[#PROPERTY_COMMAND_INDEX#]
                <input type="hidden" name="num" value="[#PROPERTY_NUM#]">
                [#else#]
                 <input type="text" class="form-control" name="num" value="[#PROPERTY_NUM#]" required>
                [#endif#]
            </div>
        </div>

        [#if NEED_ADD_PORT="1"#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_PORT#> [#if I2C="1"#] SCL[#else#](add.)[#endif#]:
            </label>
            <div class="col-lg-4"><input type="text" class="form-control" name="add_num" value="[#PROPERTY_ADD_NUM#]"></div>
        </div>
        [#endif#]

        [#if NEED_ADD_INT="1"#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_PORT#> INT:
            </label>
            <div class="col-lg-4"><input type="text" class="form-control" name="add_int" value="[#PROPERTY_ADD_INT#]"></div>
        </div>
        [#endif#]

        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_NOTES#>:
            </label>
            <div class="col-lg-4"><input type="text" class="form-control" name="comment" value="[#PROPERTY_COMMENT#]"></div>
        </div>

        [#if PROPERTY_COMMAND_INDEX!="0" && PROPERTY_COMMAND_INDEX!=""#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_TYPE#>:
                    (*)
            </label>
            <div class="col-lg-4">[#PROPERTY_COMMAND#]</div>
            <input type="hidden" name="command" value="[#PROPERTY_COMMAND#]">
        </div>
        [#else PROPERTY_COMMAND_INDEX#]

        [#if NEW_PROPERTY!="1"#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                ECMD (default action):
            </label>
            <div class="col-lg-4">[#PROPERTY_ECMD#]
                <a href="http://<#IP#>/<#PASSWORD#>/?pt=[#PROPERTY_NUM#]" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-wrench"></i></a>
            </div>
        </div>
        [#endif NEW_PROPERTY#]

        <div class="form-group">
            <label class="col-lg-3 control-label">
                Skip default action:
            </label>
            <div class="col-lg-4">
                <input type="radio" name="skip_default" value="1"[#if PROPERTY_SKIP_DEFAULT="1"#] checked[#endif#]> <#LANG_YES#>
                <input type="radio" name="skip_default" value="0"[#if PROPERTY_SKIP_DEFAULT!="1"#] checked[#endif#]> <#LANG_NO#>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_TYPE#>:
                    (*)
            </label>
            <div class="col-lg-4">
                <select name="command" class="form-control">
                    <option value=""></option>
                    <option value="input"[#if PROPERTY_COMMAND="input"#] selected[#endif#]>IN</option>
                    <option value="output"[#if PROPERTY_COMMAND="output"#] selected[#endif#]>OUT</option>
                    <option value="counter"[#if PROPERTY_COMMAND="counter"#] selected[#endif#]>Counter</option>
                    <option value="click"[#if PROPERTY_COMMAND="click"#] selected[#endif#]>Click</option>
                    <option value="double_click"[#if PROPERTY_COMMAND="double_click"#] selected[#endif#]>Double Click</option>
                    <option value="long_press"[#if PROPERTY_COMMAND="long_press"#] selected[#endif#]>Long press</option>
                    <option value="release"[#if PROPERTY_COMMAND="release"#] selected[#endif#]>Release</option>
                    <option value="adc"[#if PROPERTY_COMMAND="adc"#] selected[#endif#]>ADC</option>
                    <option value="dsen"[#if PROPERTY_COMMAND="dsen"#] selected[#endif#]>DSen</option>
                    <option value="temperature"[#if PROPERTY_COMMAND="temperature"#] selected[#endif#]>Temperature</option>
                    <option value="humidity"[#if PROPERTY_COMMAND="humidity"#] selected[#endif#]>Humidity</option>
                    <option value="pm1"[#if PROPERTY_COMMAND="pm1"#] selected[#endif#]>PM 1</option>
                    <option value="pm2.5"[#if PROPERTY_COMMAND="pm2.5"#] selected[#endif#]>PM 2.5</option>
                    <option value="pm10"[#if PROPERTY_COMMAND="pm10"#] selected[#endif#]>PM 10</option>
                    <option value="wiegand"[#if PROPERTY_COMMAND="wiegand"#] selected[#endif#]>Wiegand</option>
                    <option value="ibutton"[#if PROPERTY_COMMAND="ibutton"#] selected[#endif#]>IButton</option>
                    <!--#
                    <option value="i2c_sda"[#if PROPERTY_COMMAND="i2c_sda"#] selected[#endif#]>I2C (SDA)</option>
                    #-->
                    <option value="i2c_htu21d_sda"[#if PROPERTY_COMMAND="i2c_htu21d_sda"#] selected[#endif#]>I2C htu21d (SDA)</option>
                    <option value="i2c_ptsensor"[#if PROPERTY_COMMAND="i2c_ptsensor"#] selected[#endif#]>I2C PTsensor (SDA)</option>
                    <option value="i2c_scd4x_sda"[#if PROPERTY_COMMAND="i2c_scd4x_sda"#] selected[#endif#]>I2C Air Quality - SCD4x (SDA)</option>
                    <option value="i2c_16i_xt_sda"[#if PROPERTY_COMMAND="i2c_16i_xt_sda"#] selected[#endif#]>I2C MegaD-16I-XT Inputs (SDA)</option>
                    <option value="i2c_16ir_xt_sda"[#if PROPERTY_COMMAND="i2c_16ir_xt_sda"#] selected[#endif#]>I2C MegaD-16IR-XT Relays (SDA)</option>
                    <option value="i2c_16pwm_sda"[#if PROPERTY_COMMAND="i2c_16pwm_sda"#] selected[#endif#]>I2C MegaD-16PWM (SDA)</option>
                    <!--#
                    <option value="i2c_bmp180"[#if PROPERTY_COMMAND="i2c_bmp180"#] selected[#endif#]>I2C bmp180 (coming soon)</option>
                    <option value="i2c_tsl2591"[#if PROPERTY_COMMAND="i2c_tsl2591"#] selected[#endif#]>I2C tsl2591 (coming soon)</option>
                    <option value="i2c_ssd1306"[#if PROPERTY_COMMAND="i2c_ssd1306"#] selected[#endif#]>I2C ssd1306 (coming soon)</option>
                    #-->
                    <option value="inttemp"[#if PROPERTY_COMMAND="inttemp"#] selected[#endif#]>Internal temp. sensor</option>
                    <option value="raw"[#if PROPERTY_COMMAND="raw"#] selected[#endif#]>RAW command</option>
                    <option value="alarm"[#if PROPERTY_COMMAND="alarm"#] selected[#endif#]>ALARM</option>
                </select>
            </div>
        </div>
        [#endif PROPERTY_COMMAND_INDEX#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_VALUE#>:
            </label>
            <div class="col-lg-4">
                <div class="dynamic_content" id="value[#PROPERTY_ID#]">
                    <span id="current_value[#PROPERTY_ID#]">[#PROPERTY_CURRENT_VALUE_STRING#]</span>
                    <!--/dynamic_content-->
                </div>
            </div>
        </div>
        [#if PROPERTY_COMMAND="output"#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                &nbsp;&nbsp;
            </label>
            <div class="col-lg-4">
                <a href="#" onclick="return switchMegaDDevice([#PROPERTY_DEVICE_ID#],'[#PROPERTY_PORT#]',1,'switchResult[#PROPERTY_ID#]');"><#LANG_ON#> (1)</a> |
                <a href="#" onclick="return switchMegaDDevice([#PROPERTY_DEVICE_ID#],'[#PROPERTY_PORT#]',0,'switchResult[#PROPERTY_ID#]');"><#LANG_OFF#> (0)</a> |
                <a href="#" onclick="$('#sendValueBlock').toggle();return false"><#LANG_VALUE#></a>
                <span id="sendValueBlock" style="display:none">
                    <table>
                        <tr>
                            <td><input type="text" id="sendValue" value="0" class="form-control"></td>
                            <td><a href="#" onclick="return switchMegaDDevice([#PROPERTY_DEVICE_ID#],'[#PROPERTY_PORT#]',$('#sendValue').val(),'switchResult[#PROPERTY_ID#]');" class="btn btn-default"><#LANG_SEND#></a></td>
                        </tr>
                    </table>

                </span>
                <span  id="switchResult[#PROPERTY_ID#]"></span>
            </div>
        </div>
        [#endif#]

        [#if (PROPERTY_COMMAND=="output") || (PROPERTY_COMMAND=="input")#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                Invert value
            </label>
            <div class="col-lg-4">
                <input type="radio" name="reverse" value="1"[#if PROPERTY_REVERSE="1"#] checked[#endif#]> <#LANG_YES#>
                <input type="radio" name="reverse" value="0"[#if PROPERTY_REVERSE!="1"#] checked[#endif#]> <#LANG_NO#>
            </div>
        </div>
        [#endif#]


        [#if PROPERTY_COMMAND="alarm"#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                &nbsp;
            </label>
            <div class="col-lg-4">
                <a href="#" onclick="return switchMegaDDevice([#PROPERTY_DEVICE_ID#],[#PROPERTY_NUM#],1,'switchResult[#PROPERTY_ID#]');">ON</a> |
                <a href="#" onclick="return switchMegaDDevice([#PROPERTY_DEVICE_ID#],[#PROPERTY_NUM#],0,'switchResult[#PROPERTY_ID#]');">OFF</a>
                <span  id="switchResult[#PROPERTY_ID#]"></span>
            </div>
        </div>
        [#endif#]


        [#if NEW_PROPERTY!="1"#]
        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_DEVICE#>:
            </label>
            <div class="col-lg-4">[#module name="devices" preview="1" action="link" type="unknow" prefix="megad" source_table="megadproperties" source_table_id="<#PROPERTY_ID#>" linked_object="<#PROPERTY_LINKED_OBJECT#>"#]</div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_LINKED_OBJECT#>:
            </label>
            <div class="col-lg-4"><input type="text" class="form-control" id="linked_object" name="linked_object" value="[#PROPERTY_LINKED_OBJECT#]"></div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_LINKED_PROPERTY#>:
            </label>
            <div class="col-lg-4"><input type="text" class="form-control" id="linked_property" name="linked_property" value="[#PROPERTY_LINKED_PROPERTY#]"></div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">
                <#LANG_METHOD#>:
            </label>
            <div class="col-lg-4"><input type="text" class="form-control" id="linked_method" name="linked_method" value="[#PROPERTY_LINKED_METHOD#]"></div>
        </div>
        [#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="linked_method" width="200"#]
        [#endif NEW_PROPERTY#]

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-4">
                [#if NEW_PROPERTY!="1"#]
                <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
                [#else ID#]
                <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
                [#endif ID#]
                <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>" class="btn btn-default "><#LANG_CANCEL#></a>
                <input type="hidden" name="id" value="<#ID#>">
                <input type="hidden" name="property_id" value="<#PROPERTY_ID#>">
                <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
                <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
                <input type="hidden" name="mode" value="update">
                <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
                <input type="hidden" name="tab" value="<#TAB#>">
            </div>
        </div>
    </fieldset>
</form>
</div>

    <div class="col-md-6">
        <table class="table">
            [#begin PROPERTIES#]
            <tr>
                <td[#if SELECTED#] style="background-color:lightgreen"[#endif#] nowrap>
                <a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&property_id=[#ID#]">P [#NUM#].[#COMMAND_INDEX#]</a>
                </td>
                <td[#if SELECTED#] style="background-color:lightgreen"[#endif#]>[#COMMAND#]</td>
                <td[#if SELECTED#] style="background-color:lightgreen"[#endif#]>[#CURRENT_VALUE_STRING#]</td>
                <td[#if SELECTED#] style="background-color:lightgreen"[#endif#]>[#COMMENT#]</td>
                <td[#if SELECTED#] style="background-color:lightgreen"[#endif#]>[#LINKED_OBJECT#]</td>
            </tr>
            [#end PROPERTIES#]
        </table>
    </div>


</div>