
<!-- table megaddevices search -->
<p>
<a href="?view_mode=edit_megaddevices&data_source=<#DATA_SOURCE#>" class="btn btn-default"> <#LANG_ADD#></a>
<a href="?view_mode=scan" class="btn btn-default"> <#LANG_RESCAN_DEVICES#></a>
[ <a href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a> ]
</p>


<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_API_IP#] style="color:red;font-weight:bold"[#endif#]>
 Local IP:
 </label>
 <div class="controls"><input type="text" name="api_ip" value="<#API_IP#>" class="input"></div>
</div>

 <div class="form-group">
  <label class="control-label">
   &nbsp;
  </label>
  <div class="controls"><input type="checkbox" name="api_debug" value="1" [#if API_DEBUG="1"#] checked[#endif#]> Save all requests to log file</div>
 </div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>

</div>


<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_megaddevices" style="padding:0px" class="form">
<table  align=center class="table table-striped">
<thead>
<tr>
 <th>
 <a href="?sortby_megaddevices=TITLE&data_source=<#DATA_SOURCE#>&save_qry=1"><#LANG_TITLE#></a><nobr>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]</nobr>
 </th>

 <th>
 MegaD-ID
 </th>


 <th>
 IP
 </th>
<td>&nbsp;</td>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr style="height:52px" class="hover_btn2">
 <td style="vertical-align:middle"
  >
  <b>
   [#TITLE#]
  </a></b>
 </td>

 <td style="vertical-align:middle"
   >
   [#MDID#]&nbsp;
 </td>


 <td style="vertical-align:middle"
   >
   [#IP#]&nbsp;
 </td>
 <td style="vertical-align:middle" width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_megaddevices&id=[#ID#]" class="btn btn-default" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=delete_megaddevices&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_megaddevices">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
