
<!-- Table 'megaddevices' edit -->
&nbsp;
[#if DATA!=""#]<p>[#DATA#]</p>[#endif DATA#]

<p>
 <a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=<#TAB#>&property_id=new" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
 <a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=<#TAB#>&mode=getdata" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> <#LANG_REFRESH#></a>
 <a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=<#TAB#>&mode=getdata&debug=1" class="btn btn-default" target="_blank">ReadState</a>
 <a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=<#TAB#>&mode=clear" class="btn btn-default" onclick="return confirm('<#LANG_ARE_YOU_SURE#>');"><i class="glyphicon glyphicon-trash"></i> Clear data</a>
</p>



<table cellpadding="5" class="table table-stripped">
 <tr>
  <td valign="top"><#LANG_PORT#></td>
  <td valign="top"><#LANG_TYPE#></td>
  <td valign="top">ECMD</td>
  <td valign="top"><#LANG_CURRENT_VALUE#></td>
  <td valign="top"><#LANG_LINKED_OBJECT#></td>
  <td valign="top"><#LANG_DETAILS#></td>
  <td valign="top"><#LANG_UPDATED#></td>
  <td>&nbsp;</td>

 </tr>


 [#begin PROPERTIES#]
 <tr>
  <td><a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&property_id=[#ID#]">P [#NUM#].[#COMMAND_INDEX#]</a></td>
  <td valign="top" nowrap>
  [#COMMAND#]
   <!--#
  [#if TYPE="0"#]Input[#endif#]
  [#if TYPE="1"#]Output[#endif#] 
  [#if TYPE="2"#]ADC[#endif#] 
  [#if TYPE="3"#]DSen[#endif#] 
  [#if TYPE="100"#]Int. temp[#endif#]
  [#if TYPE="101"#]Command[#endif#]
  [#if TYPE="255"#]NC[#endif#]
   #-->
   [#if COMMAND="output"#]
   <a href="#" onclick="return switchMegaDDevice([#DEVICE_ID#],'[#PROPERTY_PORT#]',1,'result[#ID#]');">ON</a> |
   <a href="#" onclick="return switchMegaDDevice([#DEVICE_ID#],'[#PROPERTY_PORT#]',0,'result[#ID#]');">OFF</a>
   <span id="result[#ID#]"></span>
   [#endif#]

[#if COMMAND="alarm"#]
   <a href="#" onclick="return switchMegaDDevice([#DEVICE_ID#],'[#PROPERTY_PORT#]',1,'result[#ID#]');">ON</a> |
   <a href="#" onclick="return switchMegaDDevice([#DEVICE_ID#],'[#PROPERTY_PORT#]',0,'result[#ID#]');">OFF</a>
   <span id="result[#ID#]"></span>
   [#endif#]

  </td>
  <td>[#ECMD#]</td>
  <td valign="top" align="center">
   <div class="dynamic_content" id="value[#ID#]">
   <span id="current_value[#ID#]">[#CURRENT_VALUE_STRING#]</span>
   <!--/dynamic_content--></div>
  </td>
  <td valign="top">[#LINKED_OBJECT#]</td>
  <td valign="top">[#COMMENT#]</td>
  <td valign="top"><div class="dynamic_content" id="updated[#ID#]">[#UPDATED#]
   <!--/dynamic_content--></div>
  </td>
  <td>
   <a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&property_id=[#ID#]" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a>
   <a href="http://<#IP#>/<#PASSWORD#>/?pt=[#NUM#]" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-wrench"></i></a>
   <a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&property_id=[#ID#]&mode=delete" class="btn btn-default" onclick="return confirm('<#LANG_ARE_YOU_SURE#>');"><i class="glyphicon glyphicon-trash"></i></a>
  </td>
 </tr>
 [#end PROPERTIES#]
</table>
