<script type="text/javascript">
    function showMegaDHelp(topic) {
        $.fancybox.open({ src: '#'+topic+'-help', type: 'inline'});
        return false;
    }
</script>
<div>&nbsp;</div>
[#TEST#]

<div id="type-help" style="display:none">
 <h3>Тип входа/выхода</h3>
    <p>
        Поле Type может принимать следующие значения:
<ul>
    <li>IN - Вход (например, "сухой контакт, выключатели света", U-Sensor, датчик протечки, охранные датчики и т.д.)</li>
    <li>OUT - Выход (например, включение электроприборов)</li>
    <li>DSen - Цифровой датчик (например, датчики температуры DS18B20, температуры-влажности DHT22, считыватели iButton, Wiegand-26)</li>
    <li>I2C - Датчики или иные устройств, подключаемые по шине I2C</li>
    <li>ADC - АЦП, аналого-цифровой преобразователь (например, подключение аналоговых датчиков освещенности, давления, газа и т.д.) Доступен не для всех портов.</li>
</ul>
    </p>
    <p>
        <a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a>
    </p>
</div>

<div id="act-help" style="display:none">
    <h3>Действие</h3>
    <p>
      Действие, которое необходимо произвести, в случае, когда сервер не указан, не отвечает или HTTP-статус ответа отличный от "200 OK".
        </p>
    <p>
        Формат поля Action следующий: <b>X:Y;X:Y;X:Y</b>        где, X - номер порта, а Y - действие/команда
</p>
    <p>
        Возможные команды:
<ul>
<li>        0 - выключить;</li>
    <li>        1 - включить;</li>
    <li>        2 - изменить состояние на противоположное (переключить), т.е. если было включено выключить и наоборот</li>
    <li>        3 - прямая синхронизация выхода со входом (кнопка нажата - лампа включена; кнопка отпущена - лампа выключена)</li>
    <li>        4 - обратная синхронизация выхода со входов (кнопка нажата - лампа выключена; кнопка отпущена - лампа включена)</li>
    <li>        [0..255] - в случае с диммируемым портами, установить значение диммера (яркости света)</li>
</ul>
</p>

<pre>Пример сценария
7:1;8:2
Включить порт P7, переключить порт P8
</pre>

    <a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a>

    </p>
</div>

<div id="def-help" style="display:none">
    <h3>Значение по-умолчанию</h3>
    <p>Значение выхода, которое устанавливается при включении контроллера.</p>
    <p><a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a></p>
</div>

<div id="net-help" style="display:none">
    <h3>Сетевое действие</h3>
    <p>В этом поле записывается URL, который MegaD-2561 вызывает независимо от того, есть сервер или его нет. Этот URL вызывается после попытки связи с сервером и после того, как отработает сценарий, описанный в поле Action. После IP-адреса можно указать порт. По умолчанию 80.</p>
    <p><a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a></p>
</div>

<div id="raw-help" style="display:none">
    <h3>Отключение защиты от дребезга</h3>
    <p>Raw - параметр отключает встроенную защиту от дребезга.</p>
    <p><a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a></p>
</div>

<div id="naf-help" style="display:none">
    <h3>Условное сетевой действие</h3>
    <p>
        Флажок (чекбокс) справа от поля Net указывает, что NetAction будет вызван ТОЛЬКО при недоступности сервера (или когда HTTP-статус ответа отличен от 200). По умолчанию вызывается всегда.
    </p>
    <p><a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a></p>
</div>

<div id="mode-help" style="display:none">
    <h3>Режим работы входа</h3>
    <p>
        <ul>
        <li><b>P</b> - устройство реагирует (то есть отправляет сообщения на сервер, выполняет сценарии и т.д.) только при замыкании контакта/выключателя (Пример: http://192.168.0.1/megad.php?pt=4)</li>
    <li><b>R</b> - устройство реагирует только при размыкании контакта/выключателя. На сервер отправляется дополнительный параметр "m=1". (Пример: http://192.168.0.1/megad.php?pt=4&m=1)</li>
    <li><b>P&amp;R</b> - устройство реагирует как на замыкание, так и на размыкания контакта.</li>
    <li><b>С</b> - Click Mode (обработка одинарных и двойных кликов/нажатий)</li>
</ul>
    </p>
    <h3>Режим работы выхода</h3>
    <p>
        <b>SW</b> - обычный ключ (ВКЛ, ВЫКЛ), <b>PWM</b> - ШИМ (широтно-импульсная модуляция), <b>SW LINK</b> - связанный порт, DS2413 - двухканальный 1-wire модуль на базе микросхемы DS2413
    </p>
    <p><a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a></p>
</div>

<div id="misc-help" style="display:none">
    <h3>Условие выполнения сетевого действия</h3>
    <p>
        Флажок (чекбокс) справа от поля Mode указывает, что при наличии сервера, устройство отправляет на сервер сообщения
        всегда в режиме P&R, а при его отсутствии Action выполняется только в том режиме, который установлен в Mode.
        Данная опция не доступна для Click Mode.
    </p>
    <p><a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a></p>
</div>

<div id="af-help" style="display:none">
    <h3>Условие выполнения действия</h3>
    <p>
        Флажок (чекбокс) справа от поля Act определяет логику работы сценария.
        Если он не установлен (по умолчанию), то сценарий выполняется ТОЛЬКО если сервер не прописан,
        недоступен или HTTP-статус отличен от 200. Если флажок установлен, то сценарий выполняется всегда независимо от
        наличия сервера. Контроллер в этом случае будет сообщать на сервер о событиях, но его ответные команды в рамках одной TCP-сессии будут проигнорированы.
    </p>
    <p><a href="https://ab-log.ru/smart-house/ethernet/megad-2561" target="_blank">Подробнее...</a></p>
</div>